<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PLMED.Properties.Settings.connString" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=PLMEDDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add name="PLMED.Properties.Settings.SomeeConnectionString" connectionString="Data Source=plmed-database.mssql.somee.com;Persist Security Info=True;User ID=llkhacquan_SQLLogin_1;Password=5cn3lnr9d8"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>